@import "../../../styles/responsive.scss";


.main{
    min-height: 100vh;
}

.containerAll{
    max-width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @include mobile {
        width: 100%;
    }
}

.containerTitle{
    display:flex;
    align-items: center;
    position: absolute;
    left: 10%;
    top:100px;
    cursor: pointer;
    margin-bottom:20px;

    @include mobile {
        flex-direction:column;
        left: 0%;
        top:0px;
        transform: scale(.8)
    }

    .m{
        height: 170px;
        @include mobile {
            transform: scale(.6);
            margin-left: -40px;
        }
    }

    img{
        margin-top: 2px;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.342));
        
       
    }
    
    .ovies{
        font-size: 60px;
        letter-spacing: 8px;
        font-weight: 300;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.329));

        @include mobile {
            transform: scale(.8);
            position: relative;
            bottom:130px;
            left: 90px;

        }
    }
    
    .list{
        position: relative;
        font-size: 60px;
        letter-spacing: 12px;
        font-weight: 400;
        top:0px;
        left: 10px;
        color: #DEB04D;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.322));

        @include mobile {
            transform: scale(.8);
            top:-175px;
            left: 95px;
        }
    }

    .box{
        position: relative;
        top: 45px;
        right: 335px;
        height: 4px;
        width: 350px;
        border-radius: 50px;
        background-color: #DEB04D;  
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);

        @include mobile {
            display: none;
        }
    }
}

.sortDiv{
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;

    @include mobile {
        transform: scale(.8)
    }

    .button{
        margin-left: 10px;
    }
}

.sortedBy{
    margin-top:260px;
    margin-left: 40px;
    font-weight:400;
    letter-spacing: 1px;

    @include mobile {
        transform: scale(0.8);
        margin-top:210px;
        margin-left: -20px;
        position: relative;
        top:20px;
    }
}

.swiper{
    height: 440px;
    

    @include mobile {
        transform: scale(0.8);
        width: 300px;
        height: 430px;
        margin-top: -50px;
    }

  
}

.menuList{
    z-index: 999999;
}

.imgFlecha{
    position:absolute;
    right:-70px;
    top:-40px;
    transform:rotate(300deg) rotateX(140deg) scale(0.6);
    opacity: 0.5;

    @include mobile {
        transform:rotate(290deg) rotateX(140deg) scale(0.45);
        right:-105px;
    }

}

.loading{
    min-height: 100vh;
    
}