@import "../../../styles/responsive.scss";


.searcher{
    @include mobile { 
        display:none;
    }
}


.searcherMobile{
    display:none;
    

    
    .searcherMobileForm{
        position: relative; 
        top:200px;
    }
}