.genreDetail{
    min-height: 100vh;
}

.genre{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
}

.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 60px;
    padding-top: 100px;
    justify-content: center;
    margin-top: 100px;
}

.movieCard {
    list-style: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.363);

    &:hover {
        opacity:0.7;
        
    }
}

.movieImage {
    border-radius: 10px;
    background-color: azure;
}


.title{
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    font-weight: 500;
    text-overflow:clip;
}
