.about{
    min-height: 100vh;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 70vh;

        h1{
            font-size:40px;
            margin-top: 30px;
            cursor: default;
        }
        
        h3{
            font-size:20px;
            text-decoration: underline;
            text-decoration-color: #F6E05E;
            cursor: default;
        }

        img{
            border-radius:10px;
            height: 400px;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover{
                transform:scale(1.04) translateY(10px);
            }
        }
    }
}