.form{
    text-align: center;
    
}

.alert{
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;

    a {
       
        margin-top: 20px;

        &:hover{
            text-decoration: none;
        }
    }
}