@import "../../../styles/responsive.scss";

.containerImg{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    img{
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 5px;
        border: 10px solid rgb(255, 255, 255);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
        
    }
}



.title{
    margin: 40px;
    letter-spacing: 3px;
    font-weight: 400;
    font-size:35px;
    text-align: center;
    
    
}

.allInfo{
    
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);  
    width: 50vw;
    height:300px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.24);

    @include mobile {
        width: 90vw;  
        top:50%;
    }


    .chooseImage{
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: flex;
        align-items: center;
    }
    
    .info{
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    
}

.button{
    font-weight: 400;
}
