@import "../../../styles/responsive.scss";

.container {

  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
  
  .title{
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.329);
    font-weight: 400;
    font-size:35px;

    @include mobile {
      margin-top: 50px; 
  }
  }
  
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.error {
  font-size: 0.8rem;
  color: #bb0000;
}

.loginForm {
  width: 40vw;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 60vw;
}
}

.loginFormItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  letter-spacing: 2px;

  @include mobile {
    margin-top: 40px; 
}

  p{  
    font-size: 20px;
    
  }

  a{
    margin: 10px;
    transition: 0.2s ease-in;

    &:hover{
      text-decoration: none; 
      transform: scale(1.1)
    }
  }
}

