@import "../../../styles/responsive.scss";


.details {
  min-height: 100vh;
  @include mobile {
    min-height: 160vh;
    
 }
  

  .name {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 40px auto;
    text-align: center;

    @include mobile {
     margin: 30px auto;
  }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 1400px;
    min-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    
    @include mobile {
      grid-template-columns: 1fr;
      min-width: 300px;
      top: 55%;
      
  }


    .columnLeft {
      img {
        border-radius: 5px;
      }

      .leftDown {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 5px;
        margin-top: 10px;

        .score {
          margin-top: -20px;
        }
      }
    }

    .columnRight {

      min-width: 400px;

      @include mobile {
        min-width: 300px;
        
    }
      .rightTop{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .genres{
          list-style-type: none;
          font-weight: 500;
          align-self: center;
          
          

          span{
            margin-bottom: 10px;
            cursor: pointer;
          }
        }

        .companies{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          .companyImage {
          height: 30px;
          filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.212));
          margin-bottom: 10px;
        }
        }
        

      }

      .rightBottom{
        display: grid;
        grid-template-rows: 1fr ;
        gap: 10px;
        margin-top: 40px;
        max-width: 500px;
        
        @include mobile {
         
        }

        span{
          margin-right: 10px;
        }


        .sinopsi {
          margin-top: 20px;
          @include mobile {
            height: 150px;
            font-size:14px;
          }
      }
      }

      
    }


  }


}






