@import "../../../styles/responsive.scss";

.footer {
    position: absolute;
    width: 100%;

    .container {
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 170px;
        z-index: 999;
        box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.137);
        display: flex;
        justify-content: space-between;
        cursor: default;

        @include mobile {
            height: 130px;
        }

        .steps {
            padding: 20px 20px;
            display: grid;
            gap: 0px;

            @include mobile {
                padding: 10px 5px;
                font-size: 10px;
                flex-shrink: 1;
            }



            h4 {
                font-weight: 500;
                
                .tag {
                    margin-right: 10px;
                    
                    @include mobile {
                        margin-top: -5px;
                        margin-right: 2px;
                       
                        
                    }
                }

                .favorites {
                    font-weight: 500;
                    color: #e9b424;
                    cursor: pointer;
                }
            }
        }

        .center {
            display: flex;
            flex-direction: column;

            @include mobile {
                display: none;

            }

            p {
                font-size: 14px;
                text-align: center;
            }

            .m {
                height: 80px;
                filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.493));
                cursor: pointer;
                align-self: center;
                margin-top: 30px;

            }

            .name {
                cursor: pointer;
                transition: 0.2s ease-in;

                &:hover {
                    text-decoration: none;
                    transform: scale(1.05);
                }
            }
        }


        .right {

            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;

            
            @include mobile {
               
                flex-shrink: 20;
            }
          
            

            .dates {
                text-decoration: none;
                font-size: 12px;
                margin: 30px 40px 0 15px;
                align-self: end;
                display: grid;
                gap: 15px;

                @include mobile {
                    font-size: 10px;
                    margin: 20px 5px 40px 0px;
                    flex-shrink: 6;
                }

                .email {
                    transition: 0.25s ease-in;

                    &:hover {
                        text-decoration: none;
                        transform: translateX(-5px);
                    }

                    &:hover .emailIcon {
                        color: #e9b424;
                        text-decoration: none;
                        transform: translateX(-5px);
                    }

                    .emailIcon {
                        position: relative;
                        bottom: 1px;
                        transition: 0.25s ease-in;
                    }
                }

            }




            .small {
                font-size: 10px;
                margin: 10px 20px;
                align-self: end;
                cursor: default;

                @include mobile {
                    font-size: 8px;
                    position: absolute;
                    bottom:-5px;
                    right: -17px;
                    text-align: center;
                   

                }
            }
        }



    }

    .sign {
        cursor: pointer;
    }
}