@import "../../../styles/responsive.scss";

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.137);
   
    @include mobile {
        align-items: flex-end;
        justify-content: start;
     }
}
   



.active {
    color: #ECC94B;
}

.m {
    margin-left: 20px;
    height: 80px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.493));
    cursor: pointer;

    @include mobile {
        position: absolute; 
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.6);
        margin-left: 0px;
     }
 
    
}



.mid {
    display: flex;
    align-items: center;
   
    @include mobile {
        margin-bottom: 5px;
        
    }

    .imgTheme {
        margin-right: 20px;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.315));

        @include mobile {
            position: absolute;
            top:22%;
            left: 7%;
            transform: translate(-50%, -50%) scale(.8);
        }
    }

    .genres {
        margin-left: 25px;
        padding: 20px;
        font-weight: 400;
        letter-spacing: 1px;

        @include mobile { 
            position: absolute; 
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%) scale(.8);
            margin-left: 0px;
        }
    }

    .info {
        position: relative;
        bottom: 10px;
        right: 20px;
        opacity: 0.4;
    
        @include mobile { 
            opacity: 0;
         }
    }
}

.profileSet {
    display: flex;
    align-items: center;
    

    @include mobile { 
        position: relative;
        top: 15%;
        left: 67%;
        transform: translate(-50%, -50%) scale(.8);
        
    }


    .imgUser {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        cursor: pointer;

        @include mobile { 
            position: relative;
            left: 115px;
            bottom: 62px;
            transform: scale(1.2)
    
         }
        
    }

}


.scrollDown {
    position: relative;
    top: 76px;

    @include mobile { 
        left: 35%;
        top: 40px;
    }
}

