@import "../../../styles/responsive.scss";

:root {
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #536ec0;
}


.genres{
    min-height: 100vh;
}
.list{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    max-width: 90vh;
    margin: 110px auto;
    

    @include mobile {
        margin: 10px auto;
     }
    
    .link{
        text-decoration: none;
        margin: 30px;

        @include mobile {
            margin: 25px;
         }
        
        &:focus, &:active {
            box-shadow: none;
            
         }
    }
}

.genre {
    list-style: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 10px);
    transition: margin .75s;
    z-index: 99;

    @include mobile {
        margin: 0 var(--spacing, 0px);
        font-size: 0.8rem;
     }


    &:hover svg{
        transform:scale(2.8) translateX(-14px)
    }

    svg {
        width: 76px;
        height: 40px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 7px) translateZ(0);
        fill: none;
        stroke: var(--stroke, var(--line));
        stroke-linecap: round;
        stroke-width: 2px;
        stroke-dasharray: var(--offset, 69px) 278px;
        stroke-dashoffset: 361px;
        transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
        pointer-events:unset;
       
        
    }
    &:hover {
        --spacing: 5px;
        --stroke: var(--line-active);
        --stroke-delay: .1s;
        --offset: 180px;
    }
}

