@import "../../../styles/responsive.scss";


.name {
    cursor: pointer;
    letter-spacing: 2px;
    margin: 0 40px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;

    @include mobile {
        font-size: 20px;
        margin: 0 20px;
        height: 40px;
        position: relative;
        top: 10px;
    }
}

.container {
    border: 4px solid black;
    border-top: 12px solid;
    border-radius: 10px;
    margin: 40px 0px;
    padding: 10px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.336);
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    @include mobile {
        max-width: 90vw;

    }
}

.firstLine {
    display: flex;
    justify-content: space-between;
}

.or {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px;

    @include mobile {
        display: none;
    }
}

.aspects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5px;

    >* {
        margin-top: 5px;
    }
}

.watchWithDiv{
    @include mobile {
        display: none;
    }
}

.watchWithDiv>Button {
    margin: 10px 10px;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}

.type {
    border: 5px solid;
    border-left: none;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 5px;
    position: relative;
    right: 21px;
    bottom: 225px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 1px 2px 1px black;

    @include mobile {
        bottom: 90px;
        padding: 10px 5px;
        
    }

}



.form {
    width: 300px;
    
    @include mobile {
      display: none;
    }

    .iconButton {
        position: relative;
        bottom: 40px;
        left: 300px;

    }
}

.formMobile {
    width: 230px;
    height: 40px;
    transform: scale(0.8);
    position: relative;
    bottom: 6px;
    right: 18px;

    .iconButton {
        position: relative;
        bottom: 40px;
        left: 230px;

    }
}

.modal {

    display: flex;
    justify-content: center;
    align-items: center;

    img{
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.295);
        margin: 30px;
    };

}

.emoji-mart{
    font-size: 24px;
}