@import "../../../styles/responsive.scss";


.title{
    margin: 40px 100px;
    font-weight: 400;
    font-size: 30px;
   
}

.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 60px;
    margin-top: 20px;
    padding: 40px;
    justify-content: center;
}

.movieCard {
    list-style: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.363);

    &:hover {
        opacity:0.7;
        
    }
}

.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.paginate{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    .page{   
        border-radius: 10px;
        height: 30px;
        width: 30px;
        text-align: center;
        padding:4px 0px 0px 1px;
        background-color: #fccb43;
        color: black;

        @include mobile {
          margin: 0px 5px;
          padding: 5px;
          font-size: 14px;
        }
        
        
    }

    .pageA{   
        display: block;
       
    }

    .previous, .next{
        margin: 0px 20px;
        position: relative;
        bottom: 5px;

        @include mobile {
            margin: 1px 5px;
            
            font-size: 14px;
          }
    }
    
    .pageAPrev, .pageANext{
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        color: black;
        border-radius: 10px;
        background-color: #fccb43;
    }

    .disabled{
        background-color: #fce6a9;
        color: rgb(105, 105, 105);
    }

}


.back{
    height: 100px;
    width: 100px;

}