@import "../../../styles/responsive.scss";


.register {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
    margin-bottom: 20px;




    .title {
        margin-bottom: 50px;
        text-align: center;
        letter-spacing: 3px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.329);
        font-weight: 400;
        font-size:35px;

        @include mobile {
            margin-top: 80px;
        }
    }

    .form {
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

     

        .loginItem1 {
            width: 40vw;
            @include mobile {
                width: 60vw;
            }
        }

        .loginItem2 {
            width: 40vw;

            margin-top: 40px;

            @include mobile {
                width: 60vw;
            }
        }

        .loginGroupItem {
            width: 40vw;
            margin-bottom: 40px;
            margin-top: 40px;

            @include mobile {
                width: 60vw;
            }
        }

       
    }


}