.item{
    list-style: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.363);
    margin: 40px;
    transition: 0.25s ease-in-out;
    width: 230px;

    &:hover {
       transform:scale(1.1);
        
    }

    .tag{
        margin: 10px;
        cursor: default ;
    }
    
    .title{
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;
        max-width: 197px;
        height: 20px;
        letter-spacing: 1px;
        font-weight:400;
    }
    
    .link{
        &:hover {
            text-decoration: none;
             
         }
       
    }

}